<div class="container">
	<main>
		<div class="tagscloud">
			<%- tagcloud({
				min_font: .75,
				max_font: 1.8,
				unit: 'rem',
				amount: 9999,
				color: false,
				end_color: '#fff',
				start_color: '#aaa',
			}) %>
		</div>
	</main>
</div>