<p class="post-footer-info mb-0 pt-2">
  <% if (page.categories && page.categories.length) { %>
  <span class="post-categories-list mt-2">
    <% count = page.categories.length %>
    <% page.categories.forEach(function(category, index) { %>
    <a class="post-categories-list-item" href='<%= url_for(category.path) %>'><%= category.name %></a>
    <% }); %>
  </span>
  <% } %>
  <% if (page.tags && page.tags.length){ %>
  <span class="post-tags-list mt-2">
    <% count = page.tags.length %>
    <% page.tags.forEach(function(tag, index) { %>
    <a class="post-tags-list-item" href='<%= url_for(tag.path) %>'>#&nbsp;<%= tag.name %></a>
    <% }); %>
  </span>
  <% } %>
</p>