<footer class="text-center">
  <!-- footer copyright -->
  <p class="footer-copyright mb-0">Copyright&nbsp;©&nbsp;<span data-year></span>
    <a href="mailto:oomusou@gmail.com" class="footer-copyright-a" href="<%= config.url %>"><%= config.title %></a>
  </p>
</footer>