a.timeline-tile-title,
a.timeline-tile-title span,
a.timeline-tile-title:visited {
  color: #454d5d;
  opacity: .85;
}

a.timeline-tile-title span:hover {
  color: #454d5d;
  opacity: 1;
}

/* iPhone */
.tile-title {
  font-size: 0.9rem;
}

/* iPad portrait */
@media screen and (min-width: 721px) {
  .tile-title {
    font-size: 1.0rem;
  }
}

/* iPad landscape */
@media screen and (min-width: 961px) {
  .tile-title {
    font-size: 1.0rem;
  }
}

/* desktop */
@media only screen and (min-width: 961px) and (max-height:640px) {
  .tile-title {
    font-size: 0.8rem;
  }
}
