/*! Spectre.css Icons v0.5.3 | MIT License | github.com/picturepan2/spectre */
.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
}

.icon::before,
.icon::after {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon.icon-2x {
  font-size: 1.6rem;
}

.icon.icon-3x {
  font-size: 2.4rem;
}

.icon.icon-4x {
  font-size: 3.2rem;
}

.accordion .icon,
.btn .icon,
.toast .icon,
.menu .icon {
  vertical-align: -10%;
}

.btn-lg .icon {
  vertical-align: -15%;
}

.icon-arrow-down::before,
.icon-arrow-left::before,
.icon-arrow-right::before,
.icon-arrow-up::before,
.icon-downward::before,
.icon-back::before,
.icon-forward::before,
.icon-upward::before {
  border: .1rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  content: "";
  height: .65em;
  width: .65em;
}

.icon-arrow-down::before {
  transform: translate(-50%, -75%) rotate(225deg);
}

.icon-arrow-left::before {
  transform: translate(-25%, -50%) rotate(-45deg);
}

.icon-arrow-right::before {
  transform: translate(-75%, -50%) rotate(135deg);
}

.icon-arrow-up::before {
  transform: translate(-50%, -25%) rotate(45deg);
}

.icon-back::after,
.icon-forward::after {
  background: currentColor;
  content: "";
  height: .1rem;
  width: .8em;
}

.icon-downward::after,
.icon-upward::after {
  background: currentColor;
  content: "";
  height: .8em;
  width: .1rem;
}

.icon-back::after {
  left: 55%;
}

.icon-back::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.icon-downward::after {
  top: 45%;
}

.icon-downward::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.icon-forward::after {
  left: 45%;
}

.icon-forward::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.icon-upward::after {
  top: 55%;
}

.icon-upward::before {
  transform: translate(-50%, -50%) rotate(45deg);
}