/* iPhone portrait */
.main-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.post-stream-container {
  width: 100%;
}

.pagination .page-item i {
  vertical-align: -7.5% !important;
}

.pagination .page-item a:hover {
  color: #667189;
  opacity: .85;
}

/* iPhone landscape */
@media screen and (min-width: 481px) {
  .main-container {
    max-width: 28.4rem;
  }
}

/* ipad portrait */
@media screen and (min-width: 721px) {
  .main-container {
    max-width: 44rem;
  }
}

/* desktop, ipad landscape */
@media screen and (min-width: 961px) {
  .main-container {
    max-width: 48rem;
  }
}

/* iPad Pro  */
@media screen and (min-width: 1335px) {
  .main-container {
    max-width: 66rem;
  }
}