/* iPhone x horizontal */
.post-container {
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.8rem;
}

#post-card.card {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

#post-card .card-image {
  display: flex;
  box-sizing: border-box;
  background-size: cover;
  flex-grow: 1;
  box-orient: horizontal;
  box-direction: normal;
  flex-direction: row;
  align-items: flex-end;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-origin: padding-box;
  background-attachment: scroll;
  height: 12.36rem;
}

@media screen and (min-width: 481px) {
  #post-card .card-image {
    height: 13.6rem;
  }
}

@media screen and (min-width: 721px) {
  #post-card .card-image {
    height: 14rem;
  }
}

#post-card .card-item-container {
  display: flex;
  align-items: center;
}

#post-card .card-inner-cell {
  width: 100%;
}

#post-card .card-header {
  padding: .8rem 1.2rem 2rem;
  border-bottom: .05rem solid #ddd;
}

#post-card .post-header-info {
  margin-bottom: 0;
  font-size: .75rem;
}

#post-card .post-header-info-left {
  float: left;
  line-height: 1.6;
}

#post-card .post-header-info-right {
  float: right;
}

#post-card .post-header-info-right a {
  text-decoration: none;
}

/* Post Tag/Category List */
.post-categories-list,
.post-tags-list {
  padding: 0;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0;
  font-size: .7rem;
  line-height: 1.3;
}

a.post-categories-list-item,
a.post-tags-list-item {
  display: inline-block;
  font-size: .6rem;
  border: 1px solid #c2c2c2;
  color: #535d72;
  border-radius: 3px;
  padding: .1rem .3rem;
  margin: .2rem .2rem 0 0;
  text-align: center;
}

a.post-tags-list-item:hover,
a.post-tags-list-item:visited {
  color: #535d72;
  text-decoration: none
}

a.post-categories-list-item,
a.post-categories-list-item:hover,
a.post-categories-list-item:visited {
  background-color: #c2c2c2;
  color: #333 !important;
  text-decoration: none
}

a.category-link {
  color: #acb3c2;
  text-decoration: none;
}

/* Post TOC */
#post-toc {
  position: relative;
  z-index: 0;
  max-width: 890px;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: right;
  line-height: .7rem;
  font-size: .625rem;
}

#post-toc>ol {
  margin-left: 2rem;
  max-width: 8rem;
  position: fixed;
  z-index: 0;
  top: 13.5rem;
  display: inline-block;
  text-align: left;
}

@media screen and (max-width: 960px) {
  #post-toc {
    display: none;
  }
}

#post-toc ol {
  list-style: none;
}

#post-toc .post-toc-child {
  margin: .2rem 0 .2rem .5rem
}

#post-card .pagination {
  font-size: .7rem;
  margin: 0
}

/* Footer Info */
#post-card .post-footer-info {
  text-align: center;
}

#post-card .post-license {
  margin: 0 0 1rem;
  padding: .5rem .8rem;
  border-left: 3px solid #F44336;
  background-color: #F5F5F5;
  list-style: none;
  word-break: break-all;
}

#post-card .post-expired-notify {
  margin: 0 0 1rem;
  padding: .5rem .8rem;
  background: #ffffc0;
  border-left: 3px solid #fff000;
  list-style: none;
}

#post-card .card-footer.post-comment {
  padding: 1.5rem;
  background-color: #eee;
}

/* iPhne XS-Max vertical */
@media screen and (min-width: 400px) {
  .post-container {
    max-width: 20rem;
  }
}

@media screen and (min-width: 481px) {
  .post-container {
    max-width: calc(100vw - .5rem);
  }
}

/* iPad vertical */
@media screen and (min-width: 721px) {
  .post-container {
    max-width: 37.5rem;
    font-size: 1.4rem;
  }
}

/* iPhone Xs-Max horizontal  */
@media screen and (min-width: 880px) {
  .post-container {
    max-width: 44rem;
  }
}

/* desktop */
@media screen and (min-width: 961px) {
  .post-container {
    max-width: 48rem;
  }
}

/* iPad Pro */
@media screen and (min-width: 1281px) {
  .post-container {
    max-width: 66rem;
  }
}